@import '../../style/var.scss';

.about {
    @include wrapper(1440px);
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    align-items: flex-start;
    min-height: $calc;

    &__img {
        display: flex;
        flex-direction: column;
        gap: 35px;

        &__portrait {
            width: 270px;
            border-radius: 5px;
        }

        &__trio {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__react {
            height: 120px;
        }
    }
    @media screen and (max-width: $bptab) {
        padding-bottom: 40px;
    }

    @media screen and (max-width: $bpmob) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (min-width: 1921px) {
        align-items: center;
    }

}

.sup {
    background: $grad;
    border-radius: 5px;
    padding: 20px;

    &__ul {
        list-style: none;
        padding-top: 10px;
    }
}

.etudes {
    margin-top: 35px;
}

.icone-trio {
    height: 90px;
}