.about {
  max-width: 1440px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .about {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 7px;
    margin-bottom: 0px;
  }
}
.about__img {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.about__img__portrait {
  width: 270px;
  border-radius: 5px;
}
.about__img__trio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about__img__react {
  height: 150px;
}

.sup {
  background-color: #F6F6F6;
  border-radius: 5px;
  padding: 20px;
}
.sup__ul {
  list-style: none;
  padding-top: 10px;
}

.etudes {
  margin-top: 35px;
}

.icone-trio {
  height: 90px;
}