@import '../../style/var.scss';

.about {
    @include wrapper(40px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    align-items: flex-start;

    &__img {
        display: flex;
        flex-direction: column;
        gap: 35px;

        &__portrait {
            width: 270px;
            border-radius: 5px;
        }

        &__trio {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__react {
            height: 150px;
        }
    }
}

.sup {
    background-color: $grey;
    border-radius: 5px;
    padding: 20px;

    &__ul {
        list-style: none;
        padding-top: 10px;
    }
}

.etudes {
    margin-top: 35px;
}

.icone-trio {
    height: 90px;
}