@import '../../style/var.scss';

.fiche {
    @include wrapper(15px);
    &__img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    &__details {
        width: 100%;
        margin-top: 30px;
    }
    
    @media screen and (max-width: $bptab) {
        min-height: $calc;

        &__img {
            width: 90%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 50px;
        }
    }

    @media screen and (max-width: $bpmob) {
        &__img {
            margin-bottom: 20px;
            height: 200px;
            object-fit: cover;
            width: 100%;
        }
    }
}

.infos {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &__projet {
        @include flex(column, 5px);

        &__title {
            font-size: 3em;
            color: $gold;
        }

        &__tags {
            @include flex(row, 10px);
            margin-top: 20px;
        }
    }

    &__liens {
        @include flex(row, 15px);
        align-items: flex-end;

        &__git {
            @include git;
        }

        &__demo {
            @include demo;
        }
    }

}

.tag {
    background-color: $gold;
    border-radius: 10px;
    padding: 3px 30px;
    font-size: 1em;
}

.collapses {
    @include flex(row, 76px);
}

.equiplist {
    &__line {
        font-weight: 400;
    }
}

@media screen and (max-width: $bptab) {
    .fiche__details {
        margin-top: 10px;
    }

    .infos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
        margin-bottom: 18px;

        &__projet {
            gap: 20px; 
            &__title {
                font-size: 2em;
            }

            &__tags {
                font-size: 0.9em;
                margin-top: 0;
                align-items: flex-start;
                flex-wrap: wrap;
                @media screen and (max-width:$bpmob) {
                    justify-content: center;
                }
            }
        }

        &__liens {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }   
    
    .tag {
        border-radius: 5px;
    }

    .collapses {
        flex-direction: column;
        gap: 0;
    }
    
}