.home {
  max-width: 1440px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .home {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 7px;
    margin-bottom: 0px;
  }
}
.home__intro {
  color: #Fae4bd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.home__intro__name {
  font-size: 3em;
}
.home__intro__sub {
  font-size: 1.2em;
}
.home__intro__logo {
  height: 100px;
}
.home__portrait {
  position: relative;
}
.home__portrait--img {
  width: 250px;
  box-shadow: 0px 0px 50px 11px rgba(0, 0, 0, 0.85);
  border-radius: 10px;
}
.home__portrait--shadow {
  position: absolute;
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 23px 18px rgba(0, 0, 0, 0.9);
}