@import '../../style/var.scss';

.home {
    @include wrapper(40px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__portrait {
        max-width: 400px;
    }
}