@import '../../style/var.scss';

.home {
    @include wrapper(40px, 1920px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    align-items: center;
    min-height: $calc;

    &__intro {
        color: $gold;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        &__name {
            font-size: 3em;
            text-align: center;
        }

        &__sub {
            font-size: 1.2em;
            text-align: center;
        }

        &__logo {
            height: 100px;
        }
    }

    &__portrait {
        width: 250px;
        -webkit-box-shadow: 0px 0px 50px 11px rgba(0,0,0,0.85); 
        box-shadow: 0px 0px 50px 11px rgba(0,0,0,0.85);
        border-radius: 10px;
        margin: 0px 0px 50px 0px;
    }

    @media screen and (max-width: $bptab) {
        flex-direction: column;
        gap: 70px;
        min-height: $calctab;
    }

    @media screen and (max-width: $bpmob) {
        gap: 30px;

        &__portrait {
            width: 70%;
            height: auto;
        }
    }

    @media screen and (min-width: 1441px) {
        gap: 15%;

        &__intro {
            gap: 70px;

            &__name {
                font-size: 4.5em;
            }

            &__sub {
                font-size: 1.9em;
            }

            &__logo {
                height: 150px;
            }
        }

        &__portrait {
            width: 330px;
        }
    }
}
