@import '../../style/var.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;0,700;0,800;1,700;1,800&display=swap');

.card {
    height: 380px;
    border-radius: 10px;
    position: relative;
    width: auto;

    @media screen and (max-width: $bpgal) {
        height: 350px;    
    }

    @media screen and (max-width: $bpmob) {
        width: 100%;
        height: 350px;
    }

    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    &__shadow {
        @include darken;
    }

    &__info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 15px;
        height: 100%;
        width: 100%;
        padding: 15px 15px 15px 15px;
        text-align: start;

        &__title {
            font-family: 'Rubik', sans-serif;
            font-size: 2.1em;
            font-weight: 800;
        }

        &__text {
            font-family: 'Rubik', sans-serif;
            font-size: 1.5em;
            font-weight: 700;
            width: 100%;
            color: white;
        }
    }
}