@import '../../style/var.scss';

.navigation {
    display: flex;
    gap: 40px;
    
    &__link {
        color: whitesmoke;
        text-decoration: none;
        font-size: 1.2em;

        &.active {
            color: $gold;
        }
    }

    @media screen and (max-width: $bptab) {
        gap: 26px;

        &__link {
            font-size: 0.75em;
        }
    }
}
