.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin: 0 auto;
}
.header__logo {
  width: 70px;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 20px;
  }
  .header__logo {
    width: 30px;
  }
}