.gallery {
  border-radius: 25px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  width: 100%;
  margin-top: 45px;
  margin-bottom: 10px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin-top: 22px;
    background-color: white;
    margin-bottom: 20px;
  }
}