@import '../../style/var.scss';

.gallery {
    border-radius: 25px;
    width: 100%;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-content: center;

    @media screen and (max-width: $bp) {
        @include flex(column, 20px);
        padding: 0;
        margin-top: 22px;
        background-color: white;
        margin-bottom: 20px;
    }
}

.card {
    position: relative;

    &__git {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
        border: solid 2px white;
        border-radius: 50%;
        padding: 3px;
    }
}