.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 20px 40px;
}
.footer__logo {
  width: 60px;
}
.footer__liens {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: white;
}
.footer__mail {
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}