@import '../../style/var.scss';

.footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 10px 40px;

    &__logo {
        width: 60px;
    }

    &__liens {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        color: white;
    }

    &__mail {
        border: none;
        text-decoration: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }

    @media screen and (max-width: $bp) {

    }
}